.Projects{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 100vh;
}
.Project-title{
    font-size: 3rem;
    color: #A0DDE6;
}
.project-content{
    margin-top: 5rem;
    border: 3px solid #E5C687;
    width: 80%;
    color: #E5C687;
    padding: 2rem 2rem 2rem 2rem;
}
